div.add-parent
  h3 Enter Your Information

  p
    | Thank you for your interest in Jie Jie and Friends animated storybooks! We believe passionately about the importance of reading, 
    | and our books focus on helping kids develop an interest in Chinese, learn new words and grow vocabulary.
  p   
    | We know why most kids don’t enjoy reading Chinese books and we can’t blame them. Honestly, how many of us get excited about unentertaining and wordy stories?
    | Jie Jie & Friends wants to change that. Our entertaining and educational digital books feature loveable characters, an exciting fantasy story, cute animation and realistic voice over. These are books your kids will want to read.

  p 
  | We produce 3 carefully-created animated storybooks a month, and each book satisfies 3 criteria:
  ol
    li Chinese books your kids want to read 
    li Helps your kids learn vocab 
    li Enables you to bond with your kids

  //- set up the client side email, this page should require parent logged in
  form(name='addParentForm', role='form', ng-submit='submitForm(addParentForm)', novalidate)
    .form-group(ng-class='{"has-error": submitted && addParentForm.email.$invalid}')
      label(for='email') Email*
      input.form-control(type='email', name='contactEmailFromFacebook', placeholder='', ng-model='user.contactEmailFromFacebook', required) 
      label.control-label(for='email', ng-show='submitted && addParentForm.contactEmailFromFacebook.$invalid') Please enter a valid email, or this email had been taken.

    h4 Terms and Conditions
    div.terms-and-conditions
      | 1. INTRODUCTION: Welcome to JieJie&Friends portal (the “Portal“).  This Porta is published by or on behalf of KidStartNow Pte Ltd (“KidStartNow” or “We” or “Us“) a company registered in Singapore under xxx. By accessing this Portal you agree to be bound by the following terms and conditions (“Terms“) and our privacy policy and our cookies policy. If you have any queries about the Portal or these Terms, you can contact Us by any of the means set out in paragraph 8 of these Terms. If you do not agree with these Terms, you should stop using the Portal immediately.

      | 2. GENERAL RULES RELATING TO CONDUCT: The Portal is made available for your own, personal use. The Portal must not be used for any commercial purpose whatsoever or for any illegal or unauthorised purpose. When you use the Portal you must comply with all Applicable Singapore laws and with any applicable international laws, including the local laws in your country of residence (together referred to as “Applicable Laws”).

      | You agree that when using the Portal you will comply with all Applicable Laws and these Terms. In particular, but without limitation, you agree not to:
      | (a) Use the Portal in any unlawful manner or in a manner which promotes or encourages illegal activity including (without limitation) copyright infringement; or
      | (b) Attempt to gain unauthorised access to the Portal or any networks, servers or computer systems connected to the Portal; or
      | (c) Modify, adapt, translate or reverse engineer any part of the Portal or re-format or frame any portion of the pages comprising the Portal, save to the extent expressly permitted by these Terms or by law.
      | You agree to indemnify KidStartNow and its group companies in full and on demand from and against any loss, damage, costs or expenses which they suffer or incur directly or indirectly as a result of your use of the Portal otherwise than in accordance with these Terms or Applicable Laws.
      | 3. CONTENT: The copyright in all material contained on, in, or available through the Portal including all information, data, text, music, sound, photographs, graphics and video messages, the selection and arrangement thereof, and all source code, software compilations and other material (“Material“) is owned by or licensed to KidStartNow or its group companies. All rights are reserved. You can view, print or download extracts of the Material for your own personal use but you cannot otherwise copy, edit, vary, reproduce, publish, display, distribute, store, transmit, commercially exploit, disseminate in any form whatsoever or use the Material without KidStartNow’s express permission.
      | The trademarks, service marks, and logos (“Trade Marks“) contained on or in the Portal are owned by KidStartNow or its group companies or third party partners of KidStartNow. You cannot use, copy, edit, vary, reproduce, publish, display, distribute, store, transmit, commercially exploit or disseminate the Trade Marks without the prior written consent of KidStartNow or the relevant group company or the relevant third party partner of KidStartNow.
      |4. FUTURE PRIVACY POLICY: We take your privacy very seriously. KidStartNow will only use your personal information in accordance with the terms of our privacy policy and cookies policy. By using the Portal you acknowledge and agree that you have read and accept the terms of our privacy policy and cookies policy and these Terms.
      |5. DISCLAIMER / LIABILITY: USE OF THE PORTAL IS AT YOUR OWN RISK. THE PORTAL IS PROVIDED ON AN “AS IS” BASIS. TO THE MAXIMUM EXTENT PERMITTED BY LAW: (A) FUTURE DISCLAIMS ALL LIABILITY WHATSOEVER, WHETHER ARISING IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE IN RELATION TO THE PORTAL; AND (B) ALL IMPLIED WARRANTIES, TERMS AND CONDITIONS RELATING TO THE PORTAL (WHETHER IMPLIED BY STATUE, COMMON LAW OR OTHERWISE), INCLUDING (WITHOUT LIMITATION) ANY WARRANTY, TERM OR CONDITION AS TO ACCURACY, COMPLETENESS, SATISFACTORY QUALITY, PERFORMANCE, FITNESS FOR PURPOSE OR ANY SPECIAL PURPOSE, AVAILABILITY, NON INFRINGEMENT, INFORMATION ACCURACY, INTEROPERABILITY, QUIET ENJOYMENT AND TITLE ARE, AS BETWEEN FUTURE AND YOU, HEREBY EXCLUDED. IN PARTICULAR, BUT WITHOUT PREJUDICE TO THE FOREGOING, WE ACCEPT NO RESPONSIBILITY FOR ANY TECHNICAL FAILURE OF THE INTERNET AND/OR THE PORTAL; OR ANY DAMAGE OR INJURY TO USERS OR THEIR EQUIPMENT AS A RESULT OF OR RELATING TO THEIR USE OF THE PORTAL. YOUR STATUTORY RIGHTS ARE NOT AFFECTED.

      | KidStartNow will not be liable, in contract, tort (including, without limitation, negligence), under statute or otherwise, as a result of or in connection with the Portal, for any: (i) economic loss (including, without limitation, loss of revenues, profits, contracts, business or anticipated savings); or (ii) loss of goodwill or reputation; or (iii) special or indirect or consequential loss.
      | IF FUTURE IS LIABLE TO YOU DIRECTLY OR INDIRECTLY IN RELATION TO THE PORTAL, THAT LIABILITY (HOWSOEVER ARISING) SHALL BE LIMITED TO: (A) FIFTY SINGAPORE DOLLARS (S$50.00); OR (B) THE SUMS PAID BY YOU UPON PURCHASING THE PORTAL, OR ANY IN-PORTAL SPEND, INCLUDING SUBSCRIPTIONS,  WHICHEVER IS GREATER.
      | Nothing in these Terms shall be construed as excluding or limiting the liability of KidStartNow or its group companies for death or personal injury caused by its negligence or for any other liability which cannot be excluded by English law.
      | 6. SERVICE SUSPENSION: KidStartNow reserves the right to suspend or cease providing any services relating to the Portals published by it, with or without notice, and shall have no liability or responsibility to you in any manner whatsoever if it chooses to do so.
      | 7. GENERAL: These Terms (as amended from time to time) constitute the entire agreement between you and KidStartNow concerning your use of the Portal.
      | KidStartNow reserves the right to update these Terms from time to time. If it does so, the updated version will be effective immediately, and the current Terms are available through a link in the Portal to this page.  You are responsible for regularly reviewing these Terms so that you are aware of any changes to them and you will be bound by the new policy upon your continued use of the Portal.  No other variation to these Terms shall be effective unless in writing and signed by an authorised representative on behalf of KidStartNow.
      | These Terms shall be governed by and construed in accordance with Singapore law and you agree to submit to the exclusive jurisdiction of the Singapore Courts.
      | If any provision(s) of these Terms is held by a court of competent jurisdiction to be invalid or unenforceable, then such provision(s) shall be construed, as nearly as possible, to reflect the intentions of the parties (as reflected in the provision(s)) and all other provisions shall remain in full force and effect.
      | KidStartNow’s failure to exercise or enforce any right or provision of these Terms shall not constitute a waiver of such right or provision unless acknowledged and agreed to by KidStartNow in writing.
      | Unless otherwise expressly stated, nothing in the Terms shall create any rights or any other benefits whether pursuant to the Contracts (Rights of Third Parties) Act 1999 or otherwise in favour of any person other than you, KidStartNow and its group of companies.
      | 8. CONTACT US: You can contact the KidStartNow team at KidStartNow Pte Limited, xxxx, telephone +65 6444xxxx, email: enquiries@kidstartnow.com

    div.checkbox
      label(for='terms') 
        | I have read and agreed to the above Terms and Conditions.
      input#terms(type='checkbox', name='terms', ng-model='user.tos', required)
      br
      label.control-label.error(ng-show='submitted && addParentForm.terms.$invalid') This field is required.

    div.checkbox
      label(for='emailNotification') 
        | Yes, I would like to be notified when we release new animated storybooks.
      input#emailNotification(type='checkbox', name='emailNotification', ng-model='user.emailNotification') 

    input.btn.btn-primary(type='submit', value='Activate Your Account!')    
