extends ../corporate-layout

block content
  .row.no-fade
    .col-sm-offset-4.col-sm-4
      h1.center JieJie and Friends Store
      br
      br
      div.yes-container
        img(src='/images/corporate/yes.jpg')
      br
      p
        | Jie Jie and Friends is the members-only portal that helps your kid love learning Chinese via exciting animated storybooks. 
        | Members get to access all our current books, and stay up to date with our new books (2-3 per month). 


      h1 Thank you
      pre
        p= payment


